html {
    height:100% ;
    width: 100%;
    padding:0px;
    margin:0px;
}

body {
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}

.headline {
    font-size:60px;
    line-height: 60px;
    font-weight: 500;
    margin-bottom: 38px;
}    

.hero {
    background-image: url("assets/img/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.block-content {
    box-sizing: border-box;
    display: block;
    margin: 0px auto;
    padding-top: 100px;
    min-height: 100%;
    width: 1280px;
    height:740px;
    color:white;
    font-family:'Raleway', sans-serif;
    line-height: 35px;
    align-items: center;
}

.left {
    float:left;
    margin-top:70px;
    margin-bottom: 70px;
    margin-left: 60px;
}

.clearfix {
    clear: both;
}

.blockquote {
    font-weight:800;
    font-size: 22px;
    margin-bottom: 0px;
}

.author {
    text-decoration: none;
    color:white;
}

.author:hover {
    cursor: pointer;
}

.download {
    margin-right: 20px;
    display:inline-block;
    line-height: 54px;
    background: rgba(0, 200, 255, 0.8);
    height:60px;
    width: 200px;
    color:white;
    font-size: 22px;
    border-style:none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.download:hover {
    background: rgba(0, 200, 255, 0.4);
}

.learn {
    display:inline-block;
    line-height: 54px;
    background: rgba(255, 255, 255, 0.01);
    height:60px ;
    width: 180px ;
    font-size: 22px;
    color:white;
    border: 2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.learn:hover {
    background-color: white;
    color: black;
    opacity:1 ;
}

.right {
    float: right;
    margin-right:60px;
    margin-top: 15px;
}

.clearfix {
    clear: both;
}


