html {
    height:100% ;
    width: 100%;
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


body {  
    padding:0px;
    margin:0px;
    font-family:'Raleway', sans-serif;
    color: black;
}

.headline {
    font-size:60px;
    line-height: 60px;
    font-weight: 500;
    margin-bottom: 38px;
}    

.hero {
    background-image: url("../img/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1280px;
    height:740px;
    color:white;
    width:100%;
    margin: 0px auto;
}

.block-content {
    display: block;
    margin: 0px auto;
    padding-top: 100px;
    min-height: 100%;
    width:100%;
    line-height: 35px;
    
}

.left {
    float:left;
    margin-top:70px;
    margin-bottom: 70px;
    margin-left: 60px;
}

.clearfix {
    clear: both;
}

.blockquote {
    font-weight:800;
    font-size: 22px;
    margin-left: 0;
    margin-bottom: 0px;
}

.author {
    text-decoration: none;
    color:white;
    font-weight: bold;
}

.author:hover {
    cursor: pointer;
}

.buttons {
    padding-top: 50px;
}

.download {
    margin-right: 20px;
    display:inline-block;
    line-height: 60px;
    background: rgba(0, 200, 255, .8);
    height:60px;
    width: 200px;
    color:white;
    font-size: 22px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.download:hover, .twitter:hover {
    background: rgb(182, 217, 245);
    transition: 1s;
}

.learn {
    display:inline-block;
    line-height: 58px;
    background: rgba(255, 255, 255, 0.01);
    height:60px ;
    width: 180px ;
    font-size: 22px;
    color:white;
    border: 2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.learn:hover {
    background-color: white;
    color: black;
    opacity:1 ;
    transition: 1s;
}

.right {
    float: right;
    margin-right:60px;
    margin-top: 15px;
}

.clearfix {
    clear: both;
}

.services {
    margin-left: 45px;
    margin-right: 45px;
}

.headline-size-2 {
    text-transform: uppercase;
    font-size: 16px;
}

.column {
    float: left;
    width: 25%;
    padding-left: 43px;
    padding-bottom: 60px;
    margin: 0 auto;
}

.clearfix{
    clear: both;
}

.discover {
    background:rgba(#fafafa);
    margin: 0 auto;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px; 
    max-width: 1140px;
}

.img {
    max-width: 100%;
}

.discover-left {
    float: left;
    width: 50%;;
}

.clearfix{
    clear: both;
}

.discover-right {
    float: none;
    width: auto;
}

.headline-size-3 {
    font-weight: bold;
    font-size: 75px;
}

.small-icon {
    display: block;
    max-width: 32.7px;
    height: 39.3px;
    float:left;
    margin:0 auto;
    width:30%
    
}
.clearfix{
    clear: both;
}

.application .download {
    display: inline-block;
    margin:0 auto;
    margin-right: 20px;
    height:70px;
    width: 200px;
    padding-left: 35px;
    padding-top: 15px;
}


.little-fonts-button {
    display: block;
    font-size: 10px;
    float: right;
    margin: 0 auto;
    width: 65%;
    line-height: 15px;
    text-align: left;
    
}
.clearfix {
    clear: both;
}

.normal-fonts-button {
    display: block;
    font-size: 25px;
    font-weight: bold;
    float: right;
    margin: 0 auto;
    width: 65%;
    line-height: 30px;
    text-align: left;
}
.clearfix {
    clear: both;
}

.application {
    margin-bottom: 120px;
}


.explore {
    text-align: center;
    margin-bottom: 120px;
}

.headline-size-4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
}

.video {
    padding-top: 20px;
    padding-bottom: 20px;
    width:100%;
}

.buttons-social-media {
  padding-bottom: 50px;
}

.twitter {
    background-color:#1da1f2 ;
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
    color:white;
    line-height: 37px;
    width: 150px ;
    font-size: 15px;
    border-style:none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.facebook {
    background-color:rgb(60, 88, 152) ;
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
    color:white;
    line-height: 37px; ;
    width: 150px ;
    font-size: 15px;
    border-style:none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.facebook:hover {
    background-color: rgba(60, 88, 152, 0.8);
    transition: 1s;
}

.google {
    background-color:rgb(221, 75, 57) ;
    display: inline-block;
    margin-top: 30px;
    color:white;
    line-height:37px;
    width: 150px;
    font-size: 15px;
    border-style:none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.google:hover {
    background-color: rgba(221, 75, 57, 0.8);
    transition: 1s;
}

.slideshow-container {
    position: relative;
    background-color:hsl(190, 94%, 54%) ;
    color:white;
    box-sizing: border-box;
    height: 345px;
    text-align: center;
}

.headline-size-5 {
    font-weight: 500;
    font-size: 30px;
}

.slideshow-title {
    color:white;
    text-decoration: none;
    font-weight: 800;
}

.slideshow-title:hover {
    text-decoration: underline;
}

.text-size-normal {
    font-size: 20px;
}

.mySlides {
    box-sizing: border-box;
    padding: 80px;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    width: auto;
    margin-top: 30px;
    padding: 16px;
    color: rgb(100, 100, 100);
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
  }

  .prev {
    position: absolute;
    left:100px;
    top: 110px;
  }

  .next {
    position: absolute;
    right: 100px;
    top:110px;
    border-radius: 3px 0 0 3px;
  }

  .dot-container {
    position: absolute;
    left: 50%;
    bottom: 55px;
    text-align: center;
    padding: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: hsl(190, 94%, 84%);
    border:white;
    border-width: 5px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active {
    border:solid;
  }
  
  .dot:hover {
    background-color: white;
  }

  .simplest-picture {
      float: left;
      width: 50%;
  }
  .clearfix {
      clear: both;
  }

  .simplest-table {
      float: right;
      width:50%;
      margin:0 auto;
  }
  .clearfix {
    clear: both;
  }

  hr {
    border-top: 3px solid lightgrey;
    margin:50px;
    width:450px;
  }

  .features {
    margin-top: 80px;
    margin-left: 40px;
    margin-bottom: 80px;
  }

  ul {
    list-style-type:none ;
    margin-right: 60px;
  }

 li {
     float: left;
     padding:15px;
     margin-right: 25px;
 }
 .clearfix {
    clear: both;
}

.headline-size-4-margin {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    padding-left: 45px;
}

.headline-size-6 {
    padding:15px;
    font-size: 23px;
    font-weight: 600;
}
